<div class="container">
    <div class="row">
      <div class="col-6">
      <h1 class="d-flex justify-content-center my-4"><strong>Sitters Near You</strong></h1>
        <div class="profiles mb-5">
          <% @profiles.each do |profile| %>
          <div class="card-profile">
           <%= (cl_image_tag profile.user.photo.key, crop: :fill) %>
           <div class="card-profile-info">
            <i class="fas fa-share-alt share fs-5"></i>
            <i class="far fa-heart like fs-5"></i>
              <div>
                <h3><%= profile.user.first_name %></h3>
                <h4><%=h truncate(profile.description, length: 40) %></h4>
              </div>
            </div>
            <% if profile.user_id != current_user.id %>
              <%= link_to 'See more', profile_path(profile), class: "btn btn-see" %>
            <% else %>
              <%= link_to 'My profile', profile_path(profile), class: "btn btn-see" %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="col-6">
      <div class="content-search my-4 d-flex justify-content-center">
        <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: " btn button-input", placeholder: "Type a location" %>
        <%= submit_tag "Search", class: "btn btn-flat mx-1" %>
        <% end %>
      </div>
      <div class="mb-5" style="width: 100%; height: 80vh; position: sticky; top: 30px;margin-top: 55px;"
         data-controller="mapbox"
         data-mapbox-markers-value="<%= @markers.to_json %>"
         data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
