<div class="fondoshow">
  <div class="container" style="background-color: white;">
      <%# Columna 1  %>
        <div class="row">
          <div class="img-fluid col col-md-12 col-lg-6 text-center">
            <%= cl_image_tag @profile.user.photo.key, class:"rounded-circle shadow me-5 mt-5", style:"height:370px; width:370px;", crop: :fill %>
          </div>
          <div class="col col-md-12 col-lg-6 mt-5">
            <h1 class=""><%= "#{@profile.user.first_name.capitalize}" " #{@profile.user.last_name.capitalize}" %></h1>
            <div class="mt-5">
              <h5><%= @profile.description %></h5>
            </div>
              <div class="mb-4 d-flex justify-content-evenly mt-5">
                <% if @profile.user_id != current_user.id %>
                  <%= link_to 'New Reservation', new_profile_reservation_path(@profile), class: "btn btn-see moved-button" %>
                <% end %>
                <% if current_user.id != @profile.user_id %>
                  <% if @chat %>
                    <%= link_to "Continue Chatting", chatroom_path(@chat), class:"btn btn-see" %>
                  <% else %>
                    <%= link_to "Start Chat", chatrooms_path(user: current_user, profile: @profile), class: "btn btn-see", method: :post %>
                  <% end %>
                <% end %>
                <% if current_user.id == @profile.user_id %>
                    <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-see moved-button" %>
                    <%= link_to "Delete Profile",
                    profile_path(@profile),
                    method: :delete,
                    data: { confirm: "Are you sure?" }, class: "btn btn-see mx-3" %>
                <% end %>
            </div>
            <% @profile.photos.each do |photo| %>
            <%= cl_image_tag photo.key, style: "width: 200px; height: 200px;", class: "mt-5 shadow" %>
            <% end %>
          </div>
        </div>
      <%# Fin columna 1 %>

      <%# Columna 2  %>
      <div class="row">
        <div class="col col-md-6 mb-5">
          <p class="fs-3">📍 <%= @profile.location %></p>
          <p class="fs-3">💵<%= @profile.price %>/ Night</p>
          <p class="fs-3">📲<%= @profile.phone_number %></p>
        </div>
      </div>
      <%# Fin columna 2 %>

      <%# Columna 3  %>
      <div class="row">
        <div class="col col-md-6 col-lg-6">
          <div style="width: 600px; height: 600px; margin-bottom: 50px";
            data-controller="mapbox"
            data-mapbox-markers-value="<%= @markers.to_json %>"
            data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
          </div>
        </div>
          <div class="col col-md-6 shadow py-4 px-4">
            <h2><strong>Reviews:</strong>
            </h2>
            <br>
            <% @profile.reviews.each do |review|  %>
              <p><%= "⭐" * review.rating %></p>
              <h5><%= review.content %></h5>
            <% end %>
          </div>
      </div>
  <%# Fin columna3 %>
  </div>
  <%#Fin container %>
</div>
