<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-6 col-lg-6">
    <div class="text-center my-4">
      <h2>Sign up to join HappyPaw</h2>
    </div>
    <div>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :first_name %>
          <%= f.input :last_name %>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :photo, as: :file %>
        </div>
      <div class="d-flex justify-content-center my-4 form-actions form-actions">
        <%= f.button :submit, "Sign up", class:"btn btn-flat text-black" %>
      </div>
    <% end %>
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>
