<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% if user_signed_in? %>
       <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "happypaw.jpg", class: "circleavatar" %> HappyPaw
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "happypaw.jpg", class: "circleavatar" %>
      <% end %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item">
            <% if current_user.profile == nil %>
              <%= link_to 'Become a Sitter', new_profile_path, class: "nav-link btn btn-danger" %>
            <% else %>
              <%= link_to 'Chats', chatrooms_path, class: "btn btn-info" %>
              <%= link_to 'Reservations', reservations_path, class: "btn btn-info" %>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <%= cl_image_tag current_user.photo.key, style: "cursor: pointer; width: 32px; height: 32px;", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.profile != nil %>
                <div class="dropdown-item"><%= "#{current_user.first_name}" %></div>
                <%= link_to "Profile", profile_path(current_user.profile), class: "dropdown-item" %>
              <% end %>

                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </div>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
             </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
