<div class="banner">
  <div class="container">
    <h1>Find the best host for your pet</h1>
    <p>Change your pet's life with us</p>
      <div class="content-search">
        <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: " btn button-input", placeholder: "Location" %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
        <%= link_to 'See all profiles', profiles_path, class: "btn btn-flat" %>
        <% end %>
      </div>
  </div>
</div>
<div class="container d-flex justify-content-center">
<h1>Algunos de nuestros sitters</h1>
</div>
<%# CAROUSEL %>
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner" style="width: 75%; margin: 0 auto;">
    <div class="carousel-item active" data-bs-interval="10000">
    <div class="separar-card">
         <div class="card-product">
           <%= image_tag "fotocard1.jpg" %>
            <div class="card-product-infos">
            <h2>J Balvin.</h2>
             <p>I was nervous to leave Sam with strangers, but my worries quickly faded. Going forward HappyPaw will be my first choice for pet sitting.</p>
           </div>
          </div>
         <div class="card-product">
           <%= image_tag "fotocard2.jpg" %>
           <div class="card-product-infos">
             <p>Second CARD</p>
           </div>
          </div>
        </div>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <div class="separar-card">
         <div class="card-product">
           <%= image_tag "fotocard3.jpg" %>
            <div class="card-product-infos">
             <p>First CARD</p>
           </div>
          </div>
         <div class="card-product">
           <%= image_tag "fotocard4.jpg" %>
           <div class="card-product-infos">
             <p>Second CARD</p>
           </div>
          </div>
        </div>
    </div>
    <div class="carousel-item">
      <div class="separar-card">
         <div class="card-product">
           <%= image_tag "fotocard5.jpg" %>
            <div class="card-product-infos">
             <p>First CARD</p>
           </div>
          </div>
         <div class="card-product">
           <%= image_tag "fotocard6.jpg" %>
           <div class="card-product-infos">
             <p>Second CARD</p>
           </div>
          </div>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<%# ==================== %>
