<div class="banner">
  <div class="container hp">
    <h1 class="mb-2">HappyPaw</h1>
    <p>Find the sitter for your best friend </p>
      <div class="content-search">
        <%= form_tag profiles_path, method: :get do %>
        <%= text_field_tag :query, params[:query], class: "btn button-input", placeholder: "Type a location" %>
        <%= submit_tag "Search", class: "btn btn-flat" %>
        <%= link_to 'See all profiles', profiles_path, class: "btn btn-all" %>
        <% end %>
      </div>
  </div>
</div>
<div style="position: relative; left: -20px;">
  <div class="row">
    <div class="col-6">
      <div class="img-conect">
      </div>
    </div>
    <div class="col-6">
      <h1 style="margin-top: 31%; margin-bottom: 2%; text-align: center;"><strong>Connecting Petslovers</strong></h1>
      <h6 style="font-size: 22px; text-align: center;"><strong>From HappyPaw, we want to connect lovers of our furry ones.</strong> That is why our main mission is to help you find the ideal person to take care of your pet and on the other hand, we give those who love animals the possibility of becoming a "Petsitter" in two simple steps.</h6>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-center my-5">
  <h2 style="margin-top: 4%"><strong>Why are more and more people joining us?</strong></h2>
</div>
<%# CAROUSEL %>
<div style="margin-bottom: 5%" id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-inner" style="width: 75%; margin: 0 auto; margin-bottom: 60px;">
    <div class="carousel-item active" data-bs-interval="3000">
      <div class="separar-card">
        <div class="card" style="background-image: url('<%= image_path "perritocard8.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Bilu</h3>
            <span class="card_subtitle">HP is already family</span>
            <p class="card__description">"Thanks to this incredible application, Bilu is no longer alone in my travels."</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "perritocard5.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Luck</h3>
            <span class="card_subtitle">It was a big change!</span>
            <p class="card__description">"It was a problem every time I had to leave Luck alone, but with HappyPaw now I can rest easy!"</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "perritocard2.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Dino</h3>
            <span class="card_subtitle">I am a happy puppy</span>
            <p class="card__description">"Since I moved alone HappyPaw helped me with Dino. I have met incredible sitters!"</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="separar-card">
        <div class="card" style="background-image: url('<%= image_path "perritocard7.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Paul</h3>
            <span class="card_subtitle">In good company!</span>
            <p class="card__description">"We are happy to meet new pets friends, it has been very helpful."</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "perritocard4.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Andy</h3>
            <span class="card_subtitle">Now it's more friendly</span>
            <p class="card__description">"Since spending more time with other dogs at his sitter's house, Andy is a friendlier dog."</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "perritocard6recorte.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Luise</h3>
            <span class="card_subtitle">Excellent experience with my little dog!</span>
            <p class="card__description">"I want to repeat the experience soon! Luise received a gift from her last sitter."</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="3000">
      <div class="separar-card">
        <div class="card" style="background-image: url('<%= image_path "perritocard1.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Nati</h3>
            <span class="card_subtitle">Happypaw is a great app</span>
            <p class="card__description">"It has been perfect for my business trips. Lux is so happy."</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "perritocard3recorte.jpg" %>');">
          <div class="card__content">
            <h3 class="card__title">Lux</h3>
            <span class="card_subtitle">Highly recommended HappyPaw</span>
            <p class="card__description">"I've met wonderful people. Thank very much HappyPaw!"</p>
          </div>
        </div>
        <div class="card" style="background-image: url('<%= image_path "gatitocard1.jpg" %>');">
          <div class="card__content">
           <h3 class="card__title">Mati</h3>
           <span class="card_subtitle">Thank you HP!</span>
           <p class="card__description">"Just thank those who have created this incredible app. It's really amazing"</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="fondobanner2 mt-5">
  <h1>Do you need a sitter soon?</h1>
  <p class="mt-2">See all our available sitters</p>
  <%= link_to 'See more', profiles_path, class: "btn btn-all"%>
</div>
