<div class="fondoshow">
  <div class="container">
    <div class="d-flex justify-content-center">
      <h1><strong>Edit Reservations</strong></h1>
    </div>
      <div class="container">
        <div class="row">
          <div class="col d-flex justify-content-center mt-3 pt-3">
            <%= simple_form_for [ @profile, @reservation ] do |f| %>
            <%= f.input :start_time, as: :datetime, html5: true, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :end_time, as: :datetime, html5: true, required: false, input_html: {class: "datepicker"} %>
            <%= f.input :observation %>
            <%= f.input :phone_number %>
            <%= f.submit "Go", class: "btn btn-warning" %>
            <%= link_to 'Back', reservations_path, class: "btn btn-dark" %>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
