<div class="container">
  <div class="d-flex justify-content-center my-5">
    <h1><strong>Bookings</strong></h1>
  </div>
  <table class="table my-5">
    <thead>
      <tr class="table-secondary">
        <th scope="col" class="text-center">Sitter</th>
        <th scope="col" class="text-center">Observation</th>
        <th scope="col" class="text-center">Sitter/Client</th>
        <th scope="col" class="text-center">Start Day</th>
        <th scope="col" class="text-center">End Day</th>
        <th scope="col" class="text-center">Price</th>
        <th scope="col" class="text-center">Confirmation</th>
        <th scope="col" class="text-center">Review</th>
      </tr>
    </thead>
    <tbody>
      <% @reservations.each_with_index do |reservation, i| %>
        <% if i % 2 == 0 %>
          <tr class="table-light">
        <% else %>
          <tr class="table-default">
        <% end %>
          <% if current_user.id == reservation.profile.user.id || reservation.user_id == current_user.id %>
            <th scope="row" class="text-center">
              <div class="photo-res">
                <%= cl_image_tag reservation.profile.user.photo.key, height: 100, width: 150, crop: :fill %>
              </div>
            </th>
            <td class="text-center"><%= reservation.observation %></td>
            <td class="text-center"><%= "#{reservation.profile.user.first_name} / " "#{reservation.user.first_name}" %></td>
            <td class="text-center"><%= reservation.start_time.strftime('%d/%m/%Y') %></td>
            <td class="text-center"><%= reservation.end_time.strftime('%d/%m/%Y') %></td>
            <td class="text-center"><%= reservation.profile.price * ((reservation.end_time - reservation.start_time) / 86400).to_i %></td>
            <% if current_user.id == reservation.profile.user.id %>
              <td class="text-center">
                <% if reservation.confirmation %>
                  <i class="fas fa-check-circle"></i>
                <% else %>
                  <a data-confirm="Are you sure to want to confirm?" title="Confirmation <%= reservation.id %>" rel="nofollow" data-method="PATCH" href="/reservations/<%= reservation.id %>/confirmation"><i class="fas fa-check"></i></a>
                <% end %>
              </td>
              <td></td>
            <% else %>
              <td class="text-center">
                <% if reservation.confirmation %>
                  <i class="fas fa-check-circle"></i>
                <% else %>
                  Pending
                  <%= link_to '<i class= "fa fa-edit text-primary"></i>'.html_safe, edit_reservation_path(reservation) %>
                  <a data-confirm="You sure?" title="Delete <%= reservation.id %>" rel="nofollow" data-method="DELETE" href="/reservations/<%= reservation.id %>"><i class="fa fa-trash text-danger"></i></a>
                <% end %>
              </td>
              <td class="text-center">
                <%= link_to '<i class= "fas fa-file-alt text-success"></i>'.html_safe, new_reservation_review_path(reservation) %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</div>
