<div class="container">
  <div class="row my-4 py-5">
    <div class="col my-4 py-4">
      <%= image_tag("hola.jpg", class: "test-img") %>
    </div>
    <div class="col border">
      <div class="d-flex justify-content-center mt-4 pt-4">
        <h1><strong>Booking</strong></h1>
      </div>
      <div class="d-flex justify-content-center mt-3 pt-3">
        <%= simple_form_for [ @profile, @reservation ] do |f| %>
        <%= f.input :start_time, as: :datetime, html5: true, input_html: {class: "datepicker"} %>
        <%= f.input :end_time, as: :datetime, html5: true, input_html: {class: "datepicker"} %>
        <%= f.input :observation %>
        <%= f.input :phone_number %>
        <div class="d-flex justify-content-center">
        <%= f.button :button, {class: "btn btn-flat mt-2"} do %>
          <i class="fas fa-paw"></i><strong> Book now </strong>
        </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
