<div class="container">
  <%= simple_form_for [ @profile, @reservation ] do |f| %>
    <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :observation %>
    <%= f.input :phone_number %>
    <%= f.button :submit, "Go", class: "btn btn-warning mx-3" %>
      <%= link_to 'Back', profile_path(@profile), class: "btn btn-dark" %>
  <% end %>
</div>
