<div class="banner-review">
  <div class="container">

    <div class="row">
      <div class="col-6"><%= image_tag("reviews.jpeg", width: 600, height: 450) %>
      </div>
      <div class="col-6 border">
      <h1 class="d-flex justify-content-center"><strong>New Review</strong></h1>
        <div class="my-3 mx-3">
          <%= simple_form_for [ @reservation, @review ] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "Go", class: "btn btn-warning mb-3" %>
          <%= link_to 'Back', reservations_path, class: "btn btn-dark mx-2 mb-3" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
